@import '../../../app/style/variables';
@import '../../../app/style/mixin';

.contact {
    width: 100%;
    min-height: calc(100vh - 16rem);
    position: relative;
    section {
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
        background-image: url('../../model/contact-main.jpg');
        background-position: 100% 35%;
        background-size: cover;
        width: 100%;
        height: 34rem;
        div {
            background-color: $red;
            width: fit-content;
            margin: 29rem 76rem 3rem 3rem;
            padding: .5rem .25rem;  
            color: $white;
            font-family: Montserrat;
            font-size: 2rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
    }
    .main-article {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 2rem 0;
    }
}

@media (min-width: 1440px) {
    .main-text {
        max-width: 80ch;
        p {
            font-size: 2.6rem;
        }
    }
}

@media (max-width: 460px) {
    .contact {
        section {
            background-size: 100%;
            div {
                margin: 2rem 2rem;
                color: $white;
                font-family: Montserrat;
                font-size: 1.25rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
        }
    }
    .main-article {
        flex-flow: column wrap;
        justify-content: center;
        .main-text {
            max-width: 100%;
            p {
                color: $black;
                text-align: center;
                font-family: Montserrat;
                font-size: 1rem;
                font-style: normal;
                font-weight: 500;
                line-height: 180%; /* 1.8rem */
            }
        }
        .form-group {
            width: 23rem;
            margin-top: 2rem;
            p {
                color: $black;
                font-family: Montserrat;
                font-size: 1.25rem;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
            }
            form {
                width: 23rem;
            }
            button {
                height: 2.5625rem;
                padding: 0;
                color: $white;
                font-family: Montserrat;
                font-size: 1.25rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
            .input-container {
                margin: 0 auto 1.5rem;
                input {
                    color: $black;
                    font-family: montserrat;
                    font-size: 0.875rem;
                    font-style: normal;
                    font-weight: 300;
                    line-height: normal;
                }
                textarea {
                    color: $black;
                    font-family: montserrat;
                    font-size: 0.875rem;
                    font-style: normal;
                    font-weight: 300;
                    line-height: normal;
                }
                label {
                    color: $black;
                    font-family: Montserrat;
                    font-size: 0.875rem;
                    font-style: normal;
                    font-weight: 4  00;
                    line-height: normal;
                }
                input:focus + label, input:not(:placeholder-shown) + label{
                    top: -1.2rem;
                    left: 0;
                }
                textarea:focus + label, textarea:not(:placeholder-shown) + label{
                    top: -1.2rem;
                    left: 0;
                }
            }
        }
    }
}

.main-text {
    max-width: 100ch;
    p {
        color: #000;
        font-family: Montserrat;
        font-size: 3rem;
        font-style: normal;
        font-weight: 500;
        line-height: 180%; /* 5.4rem */
    }
}

.form-group {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    p {
        color: $black;
        font-family: Montserrat;
        font-size: 2rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 3rem;
        text-align: center;
    }

    .input-container {
        position: relative;
        margin: 0 auto 3rem;
        textarea {
            background-color: rgba(217, 217, 217, 0.30);
            width: 100%;
            height: 9.83731rem;
            padding: 1.12rem 1.3rem;
            border: none;
            border-radius: .25rem;
            color: $black;
            font-family: Montserrat;
            font-size: 1.375rem;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            resize: none;
        }
        input {
            width: 100%;
            height: 3.83731rem;
            flex-shrink: 0;
            background-color: rgba(217, 217, 217, 0.30);
            border: none;
            border-radius: .25rem;
            text-indent: 1.3rem;
            color: $black;
            font-family: Montserrat;
            font-size: 1.375rem;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
        }
        input:-webkit-autofill {
            color: $black;
            font-family: Montserrat;
            font-size: 1.375rem;
            font-style: normal;
            font-weight: 300;
            line-height: norma
        }
        label {
            position: absolute;
            left: 1.3rem;
            top: 1.11rem;
            color: $black;
            font-family: Montserrat;
            font-size: 1.375rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            transition: all 400ms ease;
        }
        input:focus {
            outline: none;
        }
        textarea:focus {
            outline: none;
        }
        input:focus + label, input:not(:placeholder-shown) + label{
            top: -2rem;
            left: 0;
        }
        textarea:focus + label, textarea:not(:placeholder-shown) + label{
            top: -2rem;
            left: 0;
        }
    }

    button {
        @include btn();
        width: 100%;
        height: 3.83731rem;
        padding: 1rem 14rem;
        border: none;
        border-radius: .25rem;
        color: $white;
        font-family: Montserrat;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        cursor: pointer;
        text-align: center;
    }

}