@import '../../app/style/variables';

.toast-container {
    position: fixed;
    bottom: 5rem;
    right: .4rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    overflow: hidden;
    transform: translateX(22rem);
    animation: fade .6s ease-in-out forwards alternate;
    @keyframes fade {
        0% {
            transform: translateX(22rem);
        }
        100% {
            transform: translateX(0);
        }
    }
}

.toast-container:hover {
}

.toast {
    background-color: $yellow;
    color: $black;
    border-radius: 5px;
    padding: 1rem 2rem;
    margin: .5rem;
    width: fit-content;

    font-family: Montserrat;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}