<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Отлкик на вакансию {{title}}</title>
</head>

<body>
  <div class="container">

    <div class="info">
      <label>Название вакансии:</label>
      <p>{{ title }}</p>
    </div>

    <div class="info">
      <label>ФИО:</label>
      <p>{{ name }}</p>
    </div>

    <div class="info">
      <label>Контакты:</label>
      <p>{{ phone_number }}</p>
    </div>

    <div class="info">
      <label>Почта:</label>
      <p>{{ email }}</p>
    </div>

    <div class="info">
      <label>Сопрводительное письмо:</label>
      <p>{{ additional_text }}</p>
    </div>

    <div class="info">
      <label>Резюме:</label>
      <p>{{ file_folder }}</p>
    </div>

  </div>
</body>

</html>