<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Question from {{email}}</title>
</head>

<body>
    <div class="container">

        <div class="info">
            <label>Full Name:</label>
            <p>{{ name }}</p>
        </div>

        <div class="info">
            <label>Phone Number:</label>
            <p>{{ phone_number }}</p>
        </div>

        <div class="info">
            <label>Email:</label>
            <p>{{ email }}</p>
        </div>

        <div class="info">
            <label>Question:</label>
            <p>{{ question }}</p>
        </div>

    </div>
</body>

</html>