@import "../../../app/style/mixin";

.home-main {
    width: 100%;
    min-height: calc(100vh - 16rem);
    section {
        width: 100%;
        position: relative;
        img {
            width: 100%;
            height: 60rem;
            object-fit: cover;
            object-position: 100% 36%;
            overflow: hidden;
            filter: brightness(70%);
        }
        .img-t-q {
            position: absolute;
            top: 10rem;
            left: 10rem;
            width: 85%;
            height: 27rem;
            padding: 0 1.5rem 0 2rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            article {
                max-width: 50rem;
                height: auto;
                h1 {
                    color: #fff;
                    font: normal 700 3.25rem / normal Montserrat;
                    margin-bottom: 1rem;
                    text-align: center;
                }
                p {
                    color: #fff;
                    font: normal 400 1.75rem / normal Monserrat;
                    text-align: justify;
                }
            }
            .form-group {
                display: flex;
                flex-flow: column wrap;
                align-items: center;
                justify-content: center;
                background-color: $white;
                padding: 2rem 2rem;
                border-radius: 2rem;
                .policy-container {
                    p {
                        max-width: 50ch;
                        font-size: 1.1rem;
                        font-weight: 400;
                        a {
                            color: $yellow;
                            font-weight: 500;
                        }
                    }
                }
                p {
                    color: $black;
                    font-family: Montserrat;
                    font-size: 2rem;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    margin-bottom: 3rem;
                    text-align: center;
                }
                .input-container {
                    position: relative;
                    margin: 0 auto 3rem;
                    textarea {
                        background-color: rgba(217, 217, 217, 0.3);
                        width: 100%;
                        height: 9.83731rem;
                        padding: 1.12rem 1.3rem;
                        border: none;
                        border-radius: 0.25rem;
                        color: $black;
                        font-family: Montserrat;
                        font-size: 1.375rem;
                        font-style: normal;
                        font-weight: 300;
                        line-height: normal;
                        resize: none;
                    }
                    input {
                        width: 100%;
                        height: 3.83731rem;
                        flex-shrink: 0;
                        background-color: rgba(217, 217, 217, 0.3);
                        border: none;
                        border-radius: 0.25rem;
                        text-indent: 1.3rem;
                        color: $black;
                        font-family: Montserrat;
                        font-size: 1.375rem;
                        font-style: normal;
                        font-weight: 300;
                        line-height: normal;
                    }
                    input:-webkit-autofill {
                        color: $black;
                        font-family: Montserrat;
                        font-size: 1.375rem;
                        font-style: normal;
                        font-weight: 300;
                        line-height: norma;
                    }
                    label {
                        position: absolute;
                        left: 1.3rem;
                        top: 1.11rem;
                        color: $black;
                        font-family: Montserrat;
                        font-size: 1.375rem;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        transition: all 400ms ease;
                    }
                    input:focus {
                        outline: none;
                    }
                    textarea:focus {
                        outline: none;
                    }
                    input:focus + label,
                    input:not(:placeholder-shown) + label {
                        top: -2rem;
                        left: 0;
                    }
                    textarea:focus + label,
                    textarea:not(:placeholder-shown) + label {
                        top: -2rem;
                        left: 0;
                    }
                }

                button {
                    @include btn();
                    width: 100%;
                    height: 3.83731rem;
                    padding: 1rem 14rem;
                    border: none;
                    border-radius: 0.25rem;
                    color: $white;
                    font-family: Montserrat;
                    font-size: 1.5rem;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    cursor: pointer;
                    text-align: center;
                }
            }
        }
    }
    article {
        width: 100%;
        .about {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            align-items: center;
            margin: 5rem 0;
            h1 {
                font: normal 700 4rem / normal Montserrat;
            }
            p {
                width: 80%;
                font: normal 400 1.5rem / normal Montserrat;
                text-align: center;
            }
        }
        .review {
            width: 100%;
            margin: 5rem 0;
            display: flex;
            align-items: center;
            gap: 1.5rem;
            flex-direction: column;
            h1 {
                font: normal 500 2.5rem / normal Montserrat;
                letter-spacing: 0.2rem;
            }
            .review-img {
                width: 12rem;
                height: 12rem;
                object-fit: cover;
                border-radius: 50%;
            }
            h2 {
                font: normal 300 1.75rem / normal Montserrat;
            }
            p {
                font: normal 600 1.25rem / normal Montserrat;
                width: 80%;
                text-align: center;
                margin-top: 4rem;
            }
            svg {
                position: absolute;
                bottom: 0;
                z-index: -1;
            }
        }
        .swiper-button-prev,
        .swiper-button-next {
            color: $red;
        }
        .swiper-pagination-bullet {
            background-color: $red;
        }
    }
}

@media (max-width: 460px) {
    .home-main {
        width: 100%;
        section {
            width: 100%;
            img {
                height: 50rem;
            }
            .img-t-q {
                flex-direction: column;
                width: 95%;
                top: 10rem;
                left: 0.75rem;
                padding: 0;
                article {
                    width: 100%;
                    margin-bottom: 3rem;
                    h1 {
                        color: #fff;
                        font: normal 700 2.5rem / normal Montserrat;
                        margin-bottom: 1rem;
                    }
                    p {
                        color: #fff;
                        font: normal 400 1.25rem / normal Montserrat;
                    }
                }
                .form-group {
                    width: 100%;
                    padding: 2rem 1rem;
                    border-radius: 1rem;
                    form {
                        width: 95%;
                        margin: 0 auto;
                        p {
                            font: normal 600 1.55rem / normal Montserrat;
                            margin-bottom: 2rem;
                        }
                        .input-container {
                            margin: 0 auto 2rem;
                            input {
                                height: 3rem;
                            }
                            label {
                                font: normal 400 1rem / normal Montserrat;
                            }
                        }
                        button {
                            width: 100%;
                            padding: 0.5rem;
                            height: 3rem;
                        }
                    }
                }
            }
        }
        article {
            .about {
                margin: 2.5rem 0;
                gap: 1rem;
                h1 {
                    font: normal 700 2rem / normal Montserrat;
                }
                p {
                    font: normal 400 1rem / normal Montserrat;
                    text-align: justify;
                }
            }
            .review {
                margin: 0;
                h1 {
                    font: normal 500 1.5rem / normal Montserrat;
                }
                .review-img {
                    width: 6rem;
                    height: 6rem;
                }
                h2 {
                    font: normal 300 1.25rem / normal Montserrat;
                }
                p {
                    font: normal 400 1rem / normal Montserrat;
                    width: 80%;
                    text-align: center;
                    margin-top: 4rem;
                }
            }
            .swiper-pagination-bullet {
                background-color: $red;
            }
        }
    }
}
